
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--dark);
    background-color: var(--light);
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: 700;
}

h1 {
    font-size: 62px;
    line-height: 1.25;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 30px;
}

h4 {
    margin-bottom: 10px;
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

hr {
    opacity: 0.1;
}

@media only screen and (max-width: 520px) {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 24px;
    }
}